################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/main.aps
/microsip/
/x64/
/IntSol/
